<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bootstrap.css" />
</head>
<body style="height: 100%" data-bind="menuScope: 'myMenu'">

<div class="container">
    {{ content }}
</div>
<!-- /container -->

<div class="list-group" data-bind="menuName: 'myMenu', menuShow: rightClick" style="display: none">
    <a class="list-group-item active" href="#">
        This is an example menu
    </a>

    <a class="list-group-item" href="#">
        <div><strong>You right clicked on:</strong></div>
        <code data-bind="text: lastClickedHTML"></code>
    </a>
    <a class="list-group-item" data-bind="click: outline">Outline in White</a>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
<script src="knockout-righty.js"></script>
<script>
    function RightyTest(){
        self.lastClickedHTML = ko.observable('');
        self.lastClickedElement = null;
        self.rightClick = function(element){
            var tag, content;
            console.log("event fired");

            tag = element.tagName.toLowerCase(),
            content = element.innerHTML.slice(0, 10) + "...";
            self.lastClickedHTML("<TAG>CONTENT</TAG>".replace(/TAG/g, tag).replace("CONTENT", content));
            self.lastClickedElement = element;
            console.log(element);
        };

        self.outline = function(){
            self.lastClickedElement.style.border = "3px dashed white";
            self.lastClickedElement.style.borderRadius = "6px";
        }
    }

    var k = new RightyTest();
    ko.applyBindings(k);
</script>

</body>
</html>